<div class="download-links">
  <a href="{{ '/cv/Anton_Dergunov.pdf' | relative_url }}">
    <svg viewBox="0 0 16 16" aria-hidden="true"><path d="M9.5 0H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V4.5L9.5 0zm0 1.5L12.5 4.5H9.5V1.5zM4 8h8v1H4V8zm0 2.5h8v1H4v-1zM4 13h5v1H4v-1z"/></svg>
    PDF</a>
  <a href="{{ '/cv/Anton_Dergunov.docx' | relative_url }}">
    <svg viewBox="0 0 16 16" aria-hidden="true"><path d="M9.5 0H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V4.5L9.5 0zm0 1.5L12.5 4.5H9.5V1.5zM4 8h8v1H4V8zm0 2.5h8v1H4v-1zM4 13h5v1H4v-1z"/></svg>
    Word</a>
</div>
