<div class="download-links">
    <a href="files/cv.pdf" class="download-pdf">
        <i class="fas fa-file-pdf download-icon"></i>PDF
    </a>
    <a href="files/cv.docx" class="download-word">
        <i class="fas fa-file-word download-icon"></i>Word
    </a>
    <a href="files/cv.odt" class="download-openoffice">
        <i class="fas fa-book download-icon"></i>OpenOffice
    </a>
    <a href="files/cv.rtf" class="download-rtf">
        <i class="fas fa-file-alt download-icon"></i>RTF
    </a>
    <a href="files/cv.md" class="download-markdown">
        <i class="fab fa-markdown download-icon"></i>Markdown
    </a>
    <a href="files/cv.html" class="download-html">
        <i class="fas fa-file-code download-icon"></i>HTML
    </a>
    <a href="files/cv.tex" class="download-latex">
        <i class="fas fa-code download-icon"></i>LaTeX
    </a>
    <a href="files/cv.txt" class="download-text">
        <i class="fas fa-file-alt download-icon"></i>Text
    </a>
</div>

