{%- if page.title -%}
  {%- assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title -%}
{%- else -%}
  {%- assign seo_title = site.title -%}
{%- endif -%}
{%- assign seo_description = page.excerpt | default: page.description | default: site.description | markdownify | strip_html | strip_newlines | strip | truncate: 200 -%}
{%- assign canonical = page.url | replace: 'index.html', '' | absolute_url -%}
{%- if page.header.og_image -%}
  {%- assign seo_image = page.header.og_image | absolute_url -%}
{%- elsif site.og_image -%}
  {%- assign seo_image = site.og_image | absolute_url -%}
{%- endif -%}

<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta name="author" content="{{ site.author.name | default: site.name }}">
<link rel="canonical" href="{{ canonical }}">

<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ canonical }}">
{%- if seo_image %}
<meta property="og:image" content="{{ seo_image }}">
{%- endif %}
{%- if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{%- endif %}

<meta name="twitter:card" content="{% if seo_image %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ seo_description }}">
{%- if site.author.twitter %}
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
{%- endif %}
{%- if seo_image %}
<meta name="twitter:image" content="{{ seo_image }}">
{%- endif %}
