.center-figure {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}
  
.center-figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.center-figure a {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.center-figure div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
  
.center-figure figcaption {
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  